h2 {
  padding-top: 12px;
  padding-left: 12px;
}

.break-word {
  overflow-wrap: break-word;
}

.logo-image {
  width: 12px;
  height: 12px;
  padding-top: 4px;
  padding-bottom: 4px;
}

.mat-icon {
  height: 12px !important;
  width: 12px !important;
  font-size: 12px !important;
  padding-top: 3px;
  padding-bottom: 3px;
}
